.main-menu, .sub-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-menu-item {
    position: relative;
    float: left;
}

.sub-menu {
    position: absolute;
    width: 125px;
    background: #000;
    margin-top: 25px;
    opacity: 0;
    transition: all 700ms ease-out 0s;
    
}

.main-menu-item:hover .sub-menu {
    margin-top: 0;
    opacity: 1;
    
    
}

.link {
    display: block;
    padding: 15px;
    background-color: #000;
    
    border: 1px solid #fff;
    -webkit-font-smoothing: antialiased;
     transition: all 700ms ease-out 0s;

}

.link, .link:hover, .link:focus {
    
    text-decoration: none;
    color: #fff;
    
}

.link:hover {
    background-color: #ebebeb;
    color: #000;
}